@model PaginatedListModel<Icerik>
@inject ZSözlük.IServices.ILikeService Like
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
@foreach (var item in Model)
{
    <br />
    <div class="card border">
        <div class="card-header d-flex justify-content-between">
            <strong>@item.UserName</strong>
            @if (ViewBag.Mypage)
            {
                <a asp-controller="Sozluk" asp-action="DeleteIcerik" asp-route-id="@item.IcerikID" type="button" class="btn btn-danger btn-sm">Sil</a>
            }
        </div>
        <div class="card-body">
            <p class="card-text">@item.IcerikFull</p>
        </div>
        <div>
            @{
                string userid = _userManager.GetUserId(User);
                if (!Like.isLike(item.IcerikID, userid))
                {

                    <a asp-action="Like" asp-controller="Like" asp-route-id="@item.IcerikID" asp-route-pageNumber="@Model.PageIndex" asp-route-PageUserid="@ViewBag.userid" class="btn btn-light bi bi-star ml-3 "> @Like.CountOfLike(item.IcerikID) likes</a>
                }
                else
                {
                    <a asp-action="CancelLike" asp-controller="Like" asp-route-id="@item.IcerikID"  asp-route-pageNumber="@Model.PageIndex" asp-route-PageUserid="@ViewBag.userid"  class="btn btn-light bi bi-star-fill ml-3"> @Like.CountOfLike(item.IcerikID) likes</a>
                }
            }
        </div>
        <div class="text-md-right mr-1 text-muted small">
            @item.IcerikTarih.ToShortDateString()
        </div>
    </div>
}
<br />

<div class="border-primary text-center">
    @{
        var prevDisabled = !Model.PreviousPage ? "disabled" : "";
        var nextDisabled = !Model.NextPage ? "disabled" : "";
        var controllerName = ViewBag.Mypage ? "Myprofile" : "UserDetail";
    }
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item ">
                <a asp-action=@controllerName asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-Userid=@ViewBag.userid class="btn btn-default @prevDisabled">Previous</a>
            </li>

            <li class="page-item active">
                <a class="page-link" href="#">@Model.PageIndex<span class="sr-only"></span></a>
            </li>

            <li class="page-item ">
                <a asp-action=@controllerName asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-Userid=@ViewBag.userid class="btn btn-default @nextDisabled">Next</a>
            </li>
        </ul>
    </nav>
</div>